.tank{
    background-color: rgb(99, 153, 214);
    width: 100%;
}

.content-element{
    z-index: 20;
    background-color: blue;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

.content-block{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buffer{
    margin-top: 4%;
    margin-bottom: 1%;
}