<div class="tank" id="TANK" (click)="baitFish($event)">
    <!-- portfolio content -->
    <div class="page-top">begin</div>
    <div class="text-center">
        <div>
            <h1>Brandon Rehayem</h1>
            <h2>Eager to develop software that brings value to your company.</h2>
        </div>
    </div>
    
    <div class="content-element kelp-one content-block">
        <h3>Largest Project - SiteLeaves</h3>
        <div><p>Now deployed on <button class="btn btn-success" (click)="openLink('https://siteleaves.com')">siteleaves.com</button></p></div>
        <p>A web application where users are able to log in as admins and build their own website using in app tools. No tech skills are needed on the part of the user. 
            Though originally implemented to allow small companies to maintain their own website over time without a software team,
          the codebase can be used to allow content creators easier access to site-building. </p><br>
        <ul>
          <li><p>Tech: Angular Frontend with ASP.NET Core API and MySQL database</p></li>
          <li><p>Intended to be an easily acessable website creator for the general public.</p></li>
          <li><p>Built with modularity and scalability in mind.</p></li>
        </ul>
        <p class="buffer"> See the code on Github: <button class="btn btn-success" (click)="openLink('https://www.github.com/seriouschess/dynamify')">here</button></p>
    </div>

    <div class="content-element kelp-two content-block">
      <h3>RelayForJustice</h3>
      <p>Deployed at <button class="btn btn-success" (click)="openLink('https://relayforjustice.com/')">relayforjustice.org</button></p>
      <div>
        <img class="proj-img" src="assets/relayforjustice.png">
      </div>
      <p class="buffer">A fundraiser project for the organization Legal Aid Chicago where users pledge miles which contribute to a collective goal.</p>
      <p>This project was made with a team of several people. Role: Created a fully functional backend API with Fluent Validation and security.</p>
      <ul>
        <li><p>Tech: React Frontend with ASP.NET Core API and MySQL database</p></li>
        <p> Hosting: AWS, Ubuntu, Linux </p>
      </ul>
      <p class="buffer"> See the API code on Github: <button class="btn btn-success" (click)="openLink('https://github.com/adion81/RelayForJusticeServer')">here</button></p>
    </div>

    <div class="content-element kelp-one content-block buffer">
      <h3> How I became a full stack developer </h3>
      <p>I started by researching python and initially took the backend path by developing my first API. 
        Later, I was able to build and deploy a Flask website hosted on a UNIX based Amazon Web Services instance. I learned how to move data from end to end and represent it dynamically on the front end using javascript.
      Though being self-taught was a beneficial experience, I wanted to be able to certify myself as a web developer and talk about code with others.
      That's when I decided to enroll in CodingDojo's bootcamp. I graduated from the program, learning how to build websites using 3 different full stacks: Django, ASP.NET Core, 
      and MEAN. I currently specialize in the development and hosting of full stack web applications.</p>
  
      <h3 class="center"> I have previously worked with the following technologies: </h3>
      <p> Languages: C#, JavaScript, TypeScript, Python </p>
      <p> Frameworks: Angular, ASP.NET Core, NodeJS, Django, Flask, Entity Framework ORM, Mongoose </p>
      <p> Databases: MySQL, SQLite, MongoDB </p>
      <p> Hosting: AWS, Ubuntu, Linux </p>
      <p>Click anywhere on the water to feed the fish.</p>
    </div>

    <h1 class="text-center"> Other Projects Created </h1>

    <div class="content-element kelp-one content-block buffer">
    <h3>Modern Cave People</h3>
    <div><h3 class="buffer"> Deployed on AWS: <button class="btn btn-success" (click)="openLink('http://draw.professionalserver.net/')">See the Site</button></h3></div>
    <div>
        <img class="proj-img" src="assets/moderncavepeople.png">
        <p class="project-description"> A CRUD application which allows users to create and edit images, then display them using HTML canvas. Drawing tools were created in the project's code.</p>
    </div>
      <div class="buffer">
        <p>Tech: Angular frontend with NodeJS Express API and MongoDB</p>
        <div><p> See the code on Github <button class="btn btn-success" (click)="openLink('https://github.com/seriouschess/ModernCavePeople')">here</button></p></div>
      </div>
    </div>

    <div class="content-element kelp-one content-block buffer">
      <h3>Air Traffic Noise Tracker - Relativity Capstone Project</h3>
      <div><h3 class="buffer"> Deployed on Azure: <button class="btn btn-success" (click)="openLink('https://airnoisetracker.professionalserver.net/')">See the Site</button></h3></div>
      <div>
        <img class="proj-img" src="/assets/airnoisetracker.png">
        <p class="project-description"> Search any airport in the world and get information on which direction airplanes will be taking off that day based on the local weather.</p>
      </div>
        <div class="buffer">
          <p>Tech: ASP.NET Core API with Angular, originally deployed from an Azure pipeline.</p>
          <div><p> See the code on github <button class="btn btn-success" (click)="openLink('https://github.com/seriouschess/AirTrafficReporter')">here</button></p></div>
        </div>
    </div>

    <!-- <div class="content-element kelp-one content-block buffer">
      <h3>Standalone Analytics API</h3>
      <div>
          <p class="project-description"> Analytics API which can be used to collect data from any website by linking the CDN in a page's HTML.</p>
      </div>
        <div class="buffer">
          <p>Tech: ASP.NET Core API with MySQL</p>
          <div><p> See the code on github <button class="btn btn-success" (click)="openLink('https://github.com/seriouschess/analytics_microservice')">here</button></p></div>
        </div>
    </div> -->

     <div class="content-element kelp-two content-block buffer">
       <h3>Psychological Analytics</h3>
       <div>
        <img class="proj-img" src="/assets/psychana.png">
        <p class="project-description">A web application that gives surveys asking personality questions while collecting data on how the users take the survey using javascript events.
          The information is then plotted on graphs so correlations between categories can be assessed.</p>
       </div>
       <p>Tech: Javascript, Django (Python) MVC, SQLite Database</p>
       <div><p>See the code on github <button class="btn btn-success" (click)="openLink('https://github.com/seriouschess/psycological_analytics')">here</button></p></div>
     </div>

    <div class="content-element kelp-one content-block buffer">
       <h3>Hostility Skirmish</h3>
       <div>
         <img class="proj-img" src="/assets/hostilityskirmish.png">
         <p class="project-description"> A multiplayer role playing style game that involves two client side scripts communicating with a shared database. Made with ASP dot net core in C#.
          This project was made in collaboration with two other developers.</p>
          <p>Tech: Javascript, Jquery, ASP.NET Core MVC, MySQL Database</p>
       </div>
        <p>See the code on Github <button class="btn btn-success" (click)="openLink('https://github.com/Vacuda/Hostility_Skirmish')">here</button></p>
    </div>

    <div class="footer">
      <h3 class="text-center text-warning">Contact information</h3>
      <p class="contact-element text-warning">Linkedin: <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/brandon-rehayem/">https://www.linkedin.com/in/brandon-rehayem/</a></p> 
      <p class="contact-element text-warning">Currently in: Chicago IL 60607</p>
    </div>

    <div class="page-bottom">end</div>
     
    <!-- Fishy Stuff -->
    <app-fish-food [hideFood]="!food_out" [events]="eventsSubject.asObservable()"></app-fish-food>

    <div *ngFor="let fish of all_fish">
        <app-fish 
            [fish_type]= "fish.type" 
            [top_pos]= "fish.starting_depth" 
            [left_pos]= "fish.starting_left" 
            [idle_depth]= "fish.idle_depth" 
            [tank_width]= "tank_width" 
            (gotFood)= "foodEaten($event)" 
            [events]= "eventsSubject.asObservable()">
        </app-fish>
    </div>
</div>