.tank{
    width: 100%;
    z-index: -2;
    background-image: url("/assets/water.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.header-mask{
    background-color: rgba(57, 123, 189, 0.2);
}

ul {
    list-style-type: none;
}

.content-element{
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding: 5%;
    position: relative;
}

.kelp-one::before{
    
    background-image: url("/assets/aquatic_plants.png");
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity:0.6;
}

.kelp-one *{
    position:relative;
}

.kelp-two::before{
    
    background-image: url("/assets/aquatic_plants_two.png");
    background-repeat: no-repeat;
    content: "";
    background-size: cover;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity:0.6;
}

.kelp-two *{
    position:relative;
}


.content-element h3, p, img{
    background: rgb(58, 184, 117);
    border-radius: 5px;
    display: inline-block;
    padding: 1%;
    margin-left: 10px;
}

.content-block{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buffer{
    margin-top: 4%;
    margin-bottom: 1%;
}

.project-description{
    margin: 5%;
    width: 50%;
    padding: 4%;
    display:inline-block;
    vertical-align: middle;
}

.proj-img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    vertical-align: middle;
}

.contact-element{
    display: inline-block;
    margin-left: 10%;
    background-color: black;
}

.footer{
    width: 80%;
    display: block;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.page-bottom{
    margin-top: 500px;
    visibility: hidden;
}

.page-top{
    margin-bottom: 50px;
    visibility: hidden;
}


@media only screen and (max-width: 600px) {

    .tank{
        background-size: 200% 100%;
    }

    .kelp-one{
        background-size: 100% 50%;
        background-repeat: repeat;
        margin-top: 200px;
    }

    .kelp-two{
        background-size: 100% 50%;
        background-repeat: repeat;
        margin-top: 150px;
    }

    .kelp-one h3{
        font-size: 22px;
    }

    .kelp-two h3{
        font-size: 22px;
    }

    .contact-element{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 0px;
        text-align: center;
    }

    .page-bottom{
        margin-top: 500px;
        visibility: hidden;
    }

    .footer{
        margin-top: 200px;
    }
  }

@media only screen and (max-width: 1080px) {
    .project-description{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .proj-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .page-bottom{
        margin-top: 700px;
        visibility: hidden;
    }
  }


