<div class="tank" (click)="baitFish($event)">
    <!-- portfolio content -->
    <div class="text-center">
        <div>
            <h1>Brandon Rehayem</h1>
            <h2>Eager to develop software that brings value to your company.</h2>
        </div>
    </div>
    
    <div class="content-element content-block">
        <h3>Most Recent Project - SiteLeaves</h3>
        <div><p>Now deployed on <a target="_blank" rel="noopener noreferrer" href="http://www.siteleaves.com">www.siteleaves.com</a></p></div>
        <p>A web application where users are able to log in as admins and build their own website using in app tools. No tech skills are needed on the part of the user. 
            Though originally implemented to allow small companies to maintain their own website over time without a software team,
          the codebase can be used to allow content creators easier access to sitebuilding. </p><br>
        <ul>
          <li><p>Tech: Angular Frontend with ASP.NET Core API and MySQL database</p></li>
          <li><p>Intended to be a 'one and done' sale to customers. Complete ownership and ability to maintain the site rests with them.</p></li>
          <li><p>Built with modularity and scalability in mind.</p></li>
        </ul>
        <p class="buffer"> Github repository: <a target="_blank" rel="noopener noreferrer" href="http://www.github.com/seriouschess/dynamify">Located Here </a></p>
    </div>

    <h1 class="text-center"> Other Projects Created </h1>

      <div class="content-element content-block buffer">
      <h3>Modern Cave People</h3>
      <div>
          <img class="proj-img" src="assets/moderncavepeople.png">
          <p class="project-description"> A CRUD application which allows users to create and edit images, then display them using HTML canvas. Drawing tools were created in the project's code.</p>
      </div>
        <div class="buffer">
          <p>Tech: Angular frontend with NodeJS Express API and MongoDB</p>
          <div><p> See the code on github <a target="_blank" rel="noopener noreferrer" href="https://github.com/seriouschess/ModernCavePeople">here</a></p></div>
          <h3 class="buffer"> Deployed on AWS: <a target="_blank" rel="noopener noreferrer"  href='http://draw.professionalserver.net/'>See The Site</a></h3>
        </div>
      </div>

     <div class="content-element content-block buffer">
       <h3>Psychological Analytics</h3>
       <div>
        <img class="proj-img" src="/assets/psychana.png">
        <p class="project-description">A web application that gives surveys asking personality questions while collecting data on how the users take the survey using javascript events.
          The information is then plotted on graphs so correlations between categories can be assessed.</p>
       </div>
       <p>Tech: Javascript, Django (Python) MVC, SQLite Database</p>
       <p>See the code on github <a target="_blank" rel="noopener noreferrer" href="https://github.com/seriouschess/psycological_analytics">here</a></p>
     </div>

     <div class="content-element content-block buffer">
       <h3>Hostility Skirmish</h3>
       <div>
         <img class="proj-img" src="/assets/hostilityskirmish.png">
         <p class="project-description"> A multiplayer role playing style game that involves two client side scripts communicating with a shared database. Made with ASP dot net core in C#.
          This project was made in collaboration with two other developers.</p>
          <p>Tech: Javascript, Jquery, ASP.NET Core MVC, MySQL Database</p>
       </div>
        <p>See the code on github <a target="_blank" rel="noopener noreferrer" href="https://github.com/Vacuda/Hostility_Skirmish">here</a></p>
    </div>

    <div>
      <h3 class="text-center">Contact information</h3>
      <p class="contact-element">Email: rehayemb@gmail.com</p>
      <p class="contact-element">Phone Number: (630)-209-1861</p> 
      <p class="contact-element">Currently in: Chicago IL 60607</p>
    </div>
     

    <!-- Fishy Stuff -->
    <app-fish-food [hideFood]="!food_out" [events]="eventsSubject.asObservable()"></app-fish-food>

    <div *ngFor="let fish of all_fish">
        <app-fish 
            [fish_type]= "fish.type" 
            [top_pos]= "fish.starting_depth" 
            [left_pos]= "fish.starting_left" 
            [idle_depth]= "fish.idle_depth" 
            [tank_width]= "tank_width" 
            (gotFood)= "foodEaten($event)" 
            [events]= "eventsSubject.asObservable()">
        </app-fish>
    </div>
</div>