<div class="tank" (click)="baitFish($event)">
    <p>Food Out {{food_out}}</p>
    <app-fish-food [hide_food]="!food_out"[events]="eventsSubject.asObservable()"></app-fish-food>
    <app-fish [top_pos]="200" [left_pos]="200" [tank_width]="tank_width" (gotFood)="foodEaten($event)" [events]="eventsSubject.asObservable()"></app-fish>
    <app-fish [top_pos]="300" [left_pos]="300" [tank_width]="tank_width" (gotFood)="foodEaten($event)" [events]="eventsSubject.asObservable()"></app-fish>
    <app-fish [top_pos]="400" [left_pos]="400" [tank_width]="tank_width" (gotFood)="foodEaten($event)" [events]="eventsSubject.asObservable()"></app-fish>
</div>