.tank{
    /* background-color: rgb(99, 153, 214); */
    width: 100%;
    z-index: -2;
    background-image: url("/assets/water.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.content-element{
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding: 5%;
    position: relative;
}

.kelp-one{
    background-image: url("/assets/aquatic_plants.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.kelp-two{
    background-image: url("/assets/aquatic_plants_two.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-element h3, p, img{
    background: rgba(0, 165, 77, 0.75);
    border-radius: 5px;
    display: inline-block;
    padding: 1%;
}

.content-block{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buffer{
    margin-top: 4%;
    margin-bottom: 1%;
}

.project-description{
    margin: 5%;
    width: 50%;
    padding: 4%;
    display:inline-block;
    vertical-align: middle;
}

.proj-img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    vertical-align: middle;
}

.contact-element{
    display: inline-block;
    margin-left: 10%;
    background-color: black;
}

.footer{
    width: 80%;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {

    .tank{
        background-size: 200% 100%;
    }

    .kelp-one{
        background-size: 100% 50%;
        background-repeat: repeat;
    }

    .footer{
        margin-top: 80%;
    }

    .contact-element{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        margin-bottom: 0px;
        text-align: center;
    }
  }

@media only screen and (max-width: 1080px) {
    .project-description{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .proj-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

  }


